
form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 340px ;
    width:23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
     padding: 20px;
    border-radius: 10px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  outline: none;
  background-color: white;
  width: 89%;
  padding: 10px;
  margin-top: 25px;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid black;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid black;
}
.password-inputs {
  width: 92%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-inputs div {
  background-color: transparent;
  flex-basis: 45%;
}
input[type="submit"] {
  width: 20%;
  height: 45px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(182, 182, 71);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.check-container{
  background-color: white;
  display: flex;
  padding-top: 10px;
  margin-right: 22%;
}
input{
  background-color: white;
}
label{
  background-color: white;
}


.App.mobile label {
  font-size: 12px;
  
}
.App.mobile .check-container {
  background-color: white;
  display: flex;
  margin-left: 3%;
  
}
.App.mobile form {
  height: 63%;
  
}
.App.mobile input[type="submit"] {
  width: 45%;
  height: 45px;
  
}
.App.desktop form {
  height: 63%;
  
}

